{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div id="header">
      <span class="logo">Bookmarks</span>
      {% if request.user.is_authenticated %}
        <ul class="menu">
          {% if section == 'dashboard' %}

          {% endif %}
          <a href="{% url 'dashboard' %}">My dashboard</a>
          {% if section == 'images' %}{% endif %}
          <a href="#">Images</a>
          {% if section == 'people' %}{% endif %}
          <a href="#">People</a>
        </ul>
      {% endif %}
      <span class="user">
        {% if request.user.is_authenticated %}
          Hello {{ request.user.first_name|default:request.user.username }},
          <a href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a href="{% url 'login' %}">Log-in</a>
        {% endif %}
      </span>
    </div>
    <div id="content">
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
